* {
  margin: 0;
  padding: 0;
  background-color:#8fbc8f; 
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #000080;
}

h1{
  color: orangered;
  text-align: center;
}
#gameBoard div {
  height: 140px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: 000080;
  background-color: black;
}

#gameBoard div:hover {
  cursor: pointer;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 130px);
  grid-row-gap: 15px;
  align-items: center;
  justify-content: center;
  margin:35px;

  
}

.facedown {
  background: radial-gradient(circle, transparent 20%, #2d9e9e 20%, #2d9e9e 80%, transparent 80%, transparent) 0% 0% / 64px 64px, radial-gradient(circle, transparent 20%, #2d9e9e 20%, #2d9e9e 80%, transparent 80%, transparent) 32px 32px / 64px 64px, linear-gradient(#e1d9ea 2px, transparent 2px) 0px -1px / 32px 32px, linear-gradient(90deg, #e1d9ea 2px, #2d9e9e 2px) -1px 0px / 32px 32px #2d9e9e;
}


