* {
  margin: 0;
  padding: 0;
}
body {
  background-color:#8fbc8f; 
}
h2 {
  font-size: 50px;
  text-align: center;
  color: white;
  padding: 20px;
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  padding-top: 30px;
}

h1{
 color: black;
  text-align: center;
}

footer {
  padding: 10px;
  font-weight: bold;
  color: darkblue;
}


#gameBoard div {
  height: 20vh;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: 000080;
}

#gameBoard div:hover {
  cursor: wait;
}

.memoryGame {
  display: grid;
  grid-template-columns: repeat(4, 0.15fr);
  grid-row-gap:25px;
  align-items: center;
  justify-content: center;
  margin:35px;
}

.facedown {
  background: radial-gradient(circle, transparent 20%, #2d9e9e 20%, #2d9e9e 80%, transparent 80%, transparent) 0% 0% / 64px 64px, radial-gradient(circle, transparent 20%, #2d9e9e 20%, #2d9e9e 80%, transparent 80%, transparent) 32px 32px / 64px 64px, linear-gradient(#e1d9ea 2px, transparent 2px) 0px -1px / 32px 32px, linear-gradient(90deg, #e1d9ea 2px, #2d9e9e 2px) -1px 0px / 32px 32px #2d9e9e;
}


